<html>

<head>
    <title>Adventum</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- local css file -->
    <link href="css/homeStyle.css" rel="stylesheet">
</head>

<body>
    <ul class="navigation">
        <li class="nav-item"><a href="/map">Adventum</a></li>
        <li class="nav-item"><a href="/myProfile">My Profile</a></li>
        <li class="nav-item"><a href="/settings">Settings</a></li>
        <li class="nav-item"><a href="/">Logout</a></li>
    </ul>
    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
    <label for="nav-trigger"></label>
    <!-- Everything that is not nav menu goes here -->
    <div class="site-wrap">
        <div class="container1" id="front" align="center">
            <div class="container3">
                <h1 style="color:white"><b>Explore with Adventum!</b></h1>
            </div>
            <div class="container2"></div>
        </div>
        <!-- Map goes in here -->
        <div id="map_container">
            <div id="map"></div>
            <div id="bottom" class="container" align="center">
                <table width="80%">
                    <tr>
                        <td class="button-table">
                            <button class="btn1" onclick="explore()">Find Explorers</button>
                        </td>
                        <td class="button-table">
                            <button class="btn1" onclick="surpriseMe()">Surprise Me!</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- end of site-wrap -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (blelow), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script>
    function explore() {
        window.location.href = "/findExplorers";
    }

    function surpriseMe() {
        window.location.href = "/surprise";
    }
    </script>
    <script src="js/googlemap.js" ></script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer>
    </script>
</body>

</html>
