<html>

<head>
    <title>Adventum</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- local css file -->
    <link href="css/homeStyle.css" rel="stylesheet">
    <link href="css/navBar.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
    <!-- Top Nav Bar -->
    <ul class="navbar-list">
        <li class="navbar-list"><a href="/list"><i class="fa fa-th-list fa-2x"></i></a></li>
        <li class="active navbar-list"><a href="/map"><i class="fa fa-globe fa-2x"></i></a></li>
        <li class="navbar-list"><a href="#logout"><i class="fa fa-sign-out fa-2x"></i></a></li>
    </ul>
    <br>
    <div id="logout" class="overlay">
        <div class="popup">
            <center>
            {{#with location}}
            <div class="logout-content">
                {{username}}, are you sure you want to logout?<br>
                <ul class="logout-list">
                    <li class="logout-list"><a href="#" style="background-color: #333333">Cancel</a></li>
                    <li class="logout-list"><a href="/" style="background-color: #00B0B0"><b>Logout</b></a></li>
                </ul>
            </div>
            {{/with}}
            </center>
        </div>
    </div>
    <!-- End of Top Nav Bar code -->

    <div class="site-wrap">
        
        <!-- Map goes in here -->
        <div id="map_container">
            <div id="map"></div>
           
            <div id="bottom" align="center">
                <table width="100%">
                    <tr>
                        <td width="100%">
                            <button class="btn-surprise" onclick="surpriseMe()">Surprise Me</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- end of site-wrap -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (blelow), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script>
        function surpriseMe() {
            window.location.href = "/surprise";
        }
    </script>
    <script src="js/googlemap.js" ></script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer>
    </script>
</body>

</html>
