<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/homeStyle.css" rel="stylesheet">
    <!-- Bootstrap core CSS
    <link href="css/bootstrap-signin.css" rel="stylesheet"> -->
    <link href="/css/signin.css" rel="stylesheet">

    <title>Adventum - Log In</title>
  </head>

  <body>
    <div class="container content" align="center" style="margin-top: 0%">

        <div class="signin-background">
        </div>

        <div style="margin-top: 40%; margin-bottom: 30%">
          <font size="10%" align="center"><b>ADVENTUM</b></font>
        </div>

        <button class="btn" onclick="sendRequest()">Log In with Facebook</button>
    </div>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/main.js"></script>
    <script>
        function sendRequest() {
          window.location.href = '/auth/facebook';
        }
    </script>
  </body>
</html>

