<html>

<head>
    <title>Adventum</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/homeStyle.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../public/css/homeStyle.css" rel="stylesheet">
    <!-- this is a comment in HTML -->
</head>

<body>
    <div class="jumbotron" align="center">
        <h1>Sign Up</h1>
        <br>
        <font size="4">
            <p align="center"><a href="index.html">Back to Login</a></p>
        </font>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (blelow), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>

</html>
