<html>
<head>
	<title>Adventum</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/homeStyle.css" rel="stylesheet">
	<!-- Bootstrap -->
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
</head>

<body>
    <div class="container" style="margin-top: 10%">
        <center><h1>You should try this!</h1></center>

        <p align="center" style="margin-top: 50%">
            <a href="/map">Back to Map</a>
        </p>
    </div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- <script src="https://code.jquery.com/jquery.js"></script> -->
	<!-- Include all compiled plugins (blelow), or include individual files as needed -->
	<!-- <script src="js/bootstrap.min.js"></script>
    <script src="public/js/{javascripti filename}.js"></script> -->
</body>
</html>
